---
import Layout from "@/layouts/Layout.astro";
import Publications from "./publications/publications.md";
---

<Layout title="Publications">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-4">Publications</h1>

    <p class="mb-6">
      For the most updated publication lists, please use these links to search NASA ADS:
    </p>

    <ul>
      <li><a href="https://ui.adsabs.harvard.edu/search/filter_bibstem_facet_fq_bibstem_facet=NOT&filter_bibstem_facet_fq_bibstem_facet=*%3A*&filter_bibstem_facet_fq_bibstem_facet=bibstem_facet%3A%22stc..book%22&fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq=%7B!type%3Daqp%20v%3D%24fq_bibstem_facet%7D&fq_bibstem_facet=(*%3A*%20NOT%20bibstem_facet%3A%22stc..book%22)&fq_database=database%3A%20astronomy&q=author%3A(%22leloudas%22)&sort=date%20desc%2C%20bibcode%20desc&p_=0">NASA ADS: all sources</a></li>
      <li><a href="https://ui.adsabs.harvard.edu/search/fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq=%7B!type%3Daqp%20v%3D%24fq_property%7D&fq=%7B!type%3Daqp%20v%3D%24fq_bibstem_facet%7D&fq_bibstem_facet=(*%3A*%20NOT%20bibstem_facet%3A%22yCatp%22%20NOT%20bibstem_facet%3A%22stc..book%22%20NOT%20bibstem_facet%3A%22sros.conf%22%20NOT%20bibstem_facet%3A%22hsa7.conf%22%20NOT%20bibstem_facet%3A%22grb..conf%22%20NOT%20bibstem_facet%3A%22ghth.conf%22%20NOT%20bibstem_facet%3A%22eeu..conf%22%20NOT%20bibstem_facet%3A%22IAUFM%22%20NOT%20bibstem_facet%3A%22AIPC%22%20NOT%20bibstem_facet%3A%22eas..conf%22)&fq_database=database%3A%20astronomy&fq_property=property%3A%20article&q=author%3A(%22leloudas%22)&sort=date%20desc%2C%20bibcode%20desc&p_=0">NASA ADS: articles</a></li>
      <li><a href="https://ui.adsabs.harvard.edu/search/fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq=%7B!type%3Daqp%20v%3D%24fq_property%7D&fq=%7B!type%3Daqp%20v%3D%24fq_bibstem_facet%7D&fq_bibstem_facet=(*%3A*%20NOT%20bibstem_facet%3A%22eas..conf%22%20NOT%20bibstem_facet%3A%22eeu..conf%22%20NOT%20bibstem_facet%3A%22sros.conf%22%20NOT%20bibstem_facet%3A%22stc..book%22%20NOT%20bibstem_facet%3A%22IAUFM%22%20NOT%20bibstem_facet%3A%22AIPC%22)&fq_database=database%3A%20astronomy&fq_property=property%3A%20article&q=first_author%3A(%22leloudas%22)&sort=date%20desc%2C%20bibcode%20desc&p_=0">NASA ADS: first-author articles</a></li>
    </ul>

    <hr />

    <!-- Render the generated markdown list -->
    <Publications />
  </div>
</Layout>
